Repository MDAnalysis/mdanalysis, pull requests merged in 2018-08, with the labels that each got.

#2000 corrected rotateby transformation calculation
  package/MDAnalysis/transformations/rotate.py
  package/doc/sphinx/source/documentation_pages/trajectory_transformations.rst
  package/doc/sphinx/source/documentation_pages/transformations/rotate.rst
  testsuite/MDAnalysisTests/transformations/test_rotate.py
Labels: Component-Transformations

#2024 BUG: Force 64-bit storage for xdr file offsets
  package/MDAnalysis/lib/formats/src/xdrfile.c
Labels: OpSys-Windows, defect

#2042 TST: add codecov to appveyor CI run
  .appveyor.yml
Labels: OpSys-Windows, testing

#1995 SurvivalProbability - Readability, performance, and algorithm changes
  package/AUTHORS
  package/CHANGELOG
  package/MDAnalysis/analysis/waterdynamics.py
  testsuite/AUTHORS
  testsuite/MDAnalysisTests/analysis/test_waterdynamics.py
Labels: Component-Analysis

#2048 Simplified code in `lib.distances` a bit
  package/MDAnalysis/lib/_cutil.pyx
  package/MDAnalysis/lib/distances.py
  package/MDAnalysis/lib/nsgrid.pyx
  package/MDAnalysis/lib/util.py
  testsuite/MDAnalysisTests/analysis/test_distances.py
  testsuite/MDAnalysisTests/core/test_atomgroup.py
  testsuite/MDAnalysisTests/lib/test_augment.py
  testsuite/MDAnalysisTests/lib/test_distances.py
  testsuite/MDAnalysisTests/lib/test_util.py
  testsuite/MDAnalysisTests/utils/test_distances.py
Labels: Work in progress

#2056 deprecate flags
  package/CHANGELOG
  package/MDAnalysis/core/__init__.py
  package/MDAnalysis/core/groups.py
  package/MDAnalysis/core/selection.py
  testsuite/MDAnalysisTests/core/test_atomgroup.py
  testsuite/MDAnalysisTests/core/test_flag_deprecations.py
Labels: Component-Core, maintainability
