Repository MDAnalysis/mdanalysis, pull requests merged in 2018-03, with the labels that each got.

#1790 Adds cylayer and cyzone to docstring of AtomGroup.select_atoms
  package/MDAnalysis/core/groups.py
Labels: Component-Docs

#1797 MAINT: Config / DOC updates for latest asv version
  benchmarks/README.rst
  benchmarks/asv.conf.json
Labels: maintainability, performance

#1846 changed groupby function to accept multiple attributes #1839
  package/AUTHORS
  package/CHANGELOG
  package/MDAnalysis/core/groups.py
  package/MDAnalysis/lib/util.py
  testsuite/MDAnalysisTests/core/test_groups.py
  testsuite/MDAnalysisTests/lib/test_util.py
Labels: Component-Core, enhancement

#1843 Doc fixes
  package/MDAnalysis/analysis/align.py
  package/MDAnalysis/analysis/contacts.py
  package/MDAnalysis/analysis/density.py
  package/MDAnalysis/analysis/diffusionmap.py
  package/MDAnalysis/analysis/helanal.py
  package/MDAnalysis/analysis/lineardensity.py
  package/MDAnalysis/analysis/pca.py
  package/MDAnalysis/analysis/polymer.py
  package/MDAnalysis/analysis/rdf.py
  package/MDAnalysis/analysis/rms.py
  package/MDAnalysis/coordinates/GSD.py
  package/MDAnalysis/coordinates/__init__.py
  package/MDAnalysis/topology/GSDParser.py
  package/MDAnalysis/topology/__init__.py
  package/doc/sphinx/source/conf.py
  package/doc/sphinx/source/documentation_pages/coordinates/GSD.rst
  package/doc/sphinx/source/documentation_pages/coordinates_modules.rst
Labels: Component-Analysis, Component-Docs
