Repository MDAnalysis/mdanalysis, pull requests merged in 2018-06, with the labels that each got.

#1953 TPR parser reads SETTLE constraints as bonds
  package/CHANGELOG
  package/MDAnalysis/topology/TPRParser.py
  package/MDAnalysis/topology/tpr/utils.py
  testsuite/MDAnalysisTests/topology/test_tprparser.py
Labels: Component-Topology, Format-Gromacs

#1952 fix MODEL and step in PDBWriter
  package/CHANGELOG
  package/MDAnalysis/coordinates/PDB.py
  testsuite/MDAnalysisTests/coordinates/test_pdb.py
Labels: Component-Writers, Format-PDB

#1964 remove matplotlib warning
  testsuite/MDAnalysisTests/__init__.py
Labels: testing
