Repository MDAnalysis/mdanalysis, pull requests merged in 2018-04, with the labels that each got.

#1855 Issue 1854 pd bresids
  package/CHANGELOG
  package/MDAnalysis/topology/PDBParser.py
  testsuite/MDAnalysisTests/topology/test_pdb.py
Labels: Component-Readers, Format-PDB

#1859 BUG: Fix untested MDAnalysis.visualization code
  .coveragerc
  README.rst
  package/CHANGELOG
  package/MDAnalysis/visualization/streamlines.py
  testsuite/CHANGELOG
  testsuite/MDAnalysisTests/visualization/__init__.py
  testsuite/MDAnalysisTests/visualization/test_streamlines.py
Labels: Component-Visualization, defect, maintainability, testing

#1866 updated docs on how users should run the tests
  package/MDAnalysis/tests/__init__.py
  testsuite/MDAnalysisTests/__init__.py
Labels: Component-Docs, testing
