Repository MDAnalysis/mdanalysis, pull requests merged in 2021-11, with the labels that each got.

#3429 Fix arch option in setup.py to work properly + not trigger on MSVC
  package/CHANGELOG
  package/setup.cfg
  package/setup.py
Labels: OpSys-Windows

#3438 Towards sphinx >= 3
  .github/workflows/gh-ci.yaml
  package/CHANGELOG
  package/MDAnalysis/analysis/density.py
  package/MDAnalysis/analysis/encore/similarity.py
  package/MDAnalysis/analysis/hole2/hole.py
  package/MDAnalysis/analysis/pca.py
  package/MDAnalysis/coordinates/FHIAIMS.py
  package/MDAnalysis/coordinates/GRO.py
  package/MDAnalysis/coordinates/TRZ.py
  package/MDAnalysis/core/topology.py
  package/MDAnalysis/core/universe.py
  package/MDAnalysis/lib/mdamath.py
  package/doc/sphinx/source/documentation_pages/analysis/hole2.rst
  package/doc/sphinx/source/documentation_pages/coordinates/TRZ.rst
  package/doc/sphinx/source/documentation_pages/lib/mdamath.rst
  package/doc/sphinx/source/documentation_pages/selections/charmm.rst
  package/doc/sphinx/source/documentation_pages/selections/gromacs.rst
  package/doc/sphinx/source/documentation_pages/selections/jmol.rst
  package/doc/sphinx/source/documentation_pages/selections/pymol.rst
  package/doc/sphinx/source/documentation_pages/selections/vmd.rst
Labels: Component-Docs, Component-Readers, Component-Analysis, Component-Core, Component-lib

#3440 Issue 3437 new segment stringinterning
  package/CHANGELOG
  package/MDAnalysis/core/topology.py
  package/MDAnalysis/core/topologyattrs.py
  testsuite/MDAnalysisTests/core/test_topologyattrs.py
  testsuite/MDAnalysisTests/core/test_universe.py
Labels: Component-Core

#3441 Add check for too many grids in NSGrid
  .github/workflows/gh-ci.yaml
  package/AUTHORS
  package/CHANGELOG
  package/MDAnalysis/lib/nsgrid.pyx
  testsuite/MDAnalysisTests/lib/test_nsgrid.py
Labels: Component-lib

#3468 MAINT: update Cython imports
  package/MDAnalysis/analysis/encore/clustering/affinityprop.pyx
  package/MDAnalysis/analysis/encore/cutils.pyx
  package/MDAnalysis/analysis/encore/dimensionality_reduction/stochasticproxembed.pyx
  package/MDAnalysis/lib/_augment.pyx
  package/MDAnalysis/lib/_cutil.pyx
  package/MDAnalysis/lib/c_distances.pyx
  package/MDAnalysis/lib/c_distances_openmp.pyx
  package/MDAnalysis/lib/formats/cython_util.pxd
  package/MDAnalysis/lib/formats/libdcd.pyx
  package/MDAnalysis/lib/qcprot.pyx
Labels: maintainability, Component-Analysis, Component-lib
