Repository MDAnalysis/mdanalysis, pull requests merged in 2021-10, with the labels that each got.

#3421 Updated RMS-fitting tutorial
  package/MDAnalysis/analysis/align.py
Labels: Component-Docs, Component-Analysis

#3432 TRRWriter, use ts.data['step'] if it exists
  package/CHANGELOG
  package/MDAnalysis/coordinates/TRR.py
  testsuite/MDAnalysisTests/coordinates/test_xdr.py
Labels: Component-Readers

#3424 [MAINT] removed --py3k argument for pylint
  .github/workflows/gh-ci.yaml
  package/MDAnalysis/converters/RDKit.py
  package/MDAnalysis/coordinates/null.py
  package/MDAnalysis/core/topologyattrs.py
  testsuite/MDAnalysisTests/coordinates/test_timestep_api.py
  testsuite/MDAnalysisTests/lib/test_util.py
Labels: Component-Readers, Component-Core, Component-Converters
