Repository MDAnalysis/mdanalysis, pull requests merged in 2021-05, with the labels that each got.

#2917 Converter for OpenMM
  .disabled-travis.yml
  .github/workflows/gh-ci.yaml
  package/AUTHORS
  package/CHANGELOG
  package/MDAnalysis/coordinates/OpenMM.py
  package/MDAnalysis/coordinates/__init__.py
  package/MDAnalysis/topology/OpenMMParser.py
  package/MDAnalysis/topology/__init__.py
  package/doc/sphinx/source/documentation_pages/coordinates/OpenMM.rst
  package/doc/sphinx/source/documentation_pages/coordinates_modules.rst
  package/doc/sphinx/source/documentation_pages/topology/OpenMM.rst
  package/doc/sphinx/source/documentation_pages/topology_modules.rst
  testsuite/MDAnalysisTests/coordinates/test_openmm.py
  testsuite/MDAnalysisTests/data/4x8u.pdbx
  testsuite/MDAnalysisTests/datafiles.py
  testsuite/MDAnalysisTests/topology/test_openmm.py
Labels: Component-Converters, Component-Readers, Component-Topology, enhancement

#3233 RFC: Add results class for storing analysis results
  package/CHANGELOG
  package/MDAnalysis/analysis/__init__.py
  package/MDAnalysis/analysis/base.py
  package/MDAnalysis/analysis/gnm.py
  package/MDAnalysis/analysis/lineardensity.py
  package/MDAnalysis/analysis/polymer.py
  package/doc/sphinx/source/documentation_pages/analysis_modules.rst
  testsuite/MDAnalysisTests/analysis/test_base.py
  testsuite/MDAnalysisTests/analysis/test_gnm.py
  testsuite/MDAnalysisTests/analysis/test_persistencelength.py
Labels: API, Component-Analysis

#3120 bug fix double counting water in Water bridge analysis
  package/CHANGELOG
  package/MDAnalysis/analysis/hydrogenbonds/wbridge_analysis.py
  testsuite/MDAnalysisTests/analysis/test_wbridge.py
Labels: Component-Analysis, defect

#3288 Switch DistanceMatrix to Results class
  package/CHANGELOG
  package/MDAnalysis/analysis/diffusionmap.py
  testsuite/MDAnalysisTests/analysis/test_diffusionmap.py
Labels: API, Component-Analysis

#3292 Use Results in Hole2
  package/CHANGELOG
  package/MDAnalysis/analysis/hole2/hole.py
  testsuite/MDAnalysisTests/analysis/test_hole2.py
Labels: API, Component-Analysis

#3289 Switch PersistenceLength to Results class
  package/CHANGELOG
  package/MDAnalysis/analysis/polymer.py
  testsuite/MDAnalysisTests/analysis/test_persistencelength.py
Labels: API, Component-Analysis

#3287 Use Results class for WaterBridge analysis
  package/CHANGELOG
  package/MDAnalysis/analysis/hydrogenbonds/wbridge_analysis.py
  testsuite/MDAnalysisTests/analysis/test_wbridge.py
Labels: API, Component-Analysis

#3300 Add concurrency group
  .github/workflows/gh-ci.yaml
Labels: Continuous Integration

#3293 Use read_direct() in H5MDReader
  package/CHANGELOG
  package/MDAnalysis/coordinates/H5MD.py
Labels: Component-Readers, Format-H5MD, NSF REU, performance

#3285 Use Results class for PCA Analysis
  package/CHANGELOG
  package/MDAnalysis/analysis/pca.py
  testsuite/MDAnalysisTests/analysis/test_pca.py
Labels: API, Component-Analysis
