Repository MDAnalysis/mdanalysis, pull requests merged in 2022-02, with the labels that each got.

#3514 Update the TPR parser for Gromacs 2022
  package/CHANGELOG
  package/MDAnalysis/topology/TPRParser.py
  package/MDAnalysis/topology/tpr/setting.py
  package/MDAnalysis/topology/tpr/utils.py
  testsuite/MDAnalysisTests/data/tprs/2lyz_gmx_2022-rc1.tpr
  testsuite/MDAnalysisTests/data/tprs/all_bonded/dummy_2022-rc1.tpr
  testsuite/MDAnalysisTests/data/tprs/virtual_sites/extra-interactions-2022-rc1.tpr
  testsuite/MDAnalysisTests/datafiles.py
  testsuite/MDAnalysisTests/topology/test_tprparser.py
Labels: Component-Topology

#3517 Raise TypeError
  package/CHANGELOG
  package/MDAnalysis/core/groups.py
  testsuite/MDAnalysisTests/core/test_groups.py
Labels: Component-Core

#3516 Remove dead code from the TPR parser
  package/MDAnalysis/topology/TPRParser.py
  package/MDAnalysis/topology/tpr/utils.py
Labels: maintainability, Format-Gromacs, Component-Topology

#3507 Prevent flush on closed NamedStream
  package/CHANGELOG
  package/MDAnalysis/lib/util.py
  testsuite/MDAnalysisTests/utils/test_streamio.py
Labels: Component-lib

#3522 DOC: fix SciPy intersphinx link.
  package/doc/sphinx/source/conf.py
Labels: Component-Docs

#3521 updated template asv.conf.json to Python 3.8
  benchmarks/asv.conf.json
Labels: performance

#3518 Fix import warning
  package/MDAnalysis/converters/OpenMM.py
Labels: Component-Converters

#2118 Continued dielectric analysis module
  package/CHANGELOG
  package/MDAnalysis/analysis/__init__.py
  package/MDAnalysis/analysis/dielectric.py
  package/MDAnalysis/units.py
  package/doc/sphinx/source/documentation_pages/analysis/dielectric.rst
  package/doc/sphinx/source/documentation_pages/analysis_modules.rst
  package/doc/sphinx/source/documentation_pages/references.rst
  testsuite/MDAnalysisTests/analysis/test_dielectric.py
  testsuite/MDAnalysisTests/utils/test_units.py
Labels: Component-Analysis

#3530 Switch from deprecated scipy.io.netcdf to scipy.io
  package/MDAnalysis/coordinates/TRJ.py
  testsuite/MDAnalysisTests/coordinates/test_netcdf.py
Labels: Component-Readers

#3513 Refactor distance header to use wider integer representation
  package/CHANGELOG
  package/MDAnalysis/lib/c_distances.pyx
  package/MDAnalysis/lib/c_distances_openmp.pyx
  package/MDAnalysis/lib/distances.py
  package/MDAnalysis/lib/include/calc_distances.h
  testsuite/MDAnalysisTests/lib/test_distances.py
Labels: Component-lib
