Repository MDAnalysis/mdanalysis, pull requests merged in 2022-11, with the labels that each got.

#3894 Add deprecation warning for memoryreader inclusive indexing in timeseries.
  package/CHANGELOG
  package/MDAnalysis/coordinates/memory.py
  testsuite/MDAnalysisTests/coordinates/test_memory.py
Labels: Component-Readers, Format-MemoryReader, CZI-performance

#3900 [MAINT] Fix Cython linting issues
  package/MDAnalysis/analysis/encore/cutils.pyx
  package/MDAnalysis/coordinates/timestep.pyx
  package/MDAnalysis/lib/_augment.pyx
  package/MDAnalysis/lib/_cutil.pyx
  package/MDAnalysis/lib/c_distances.pyx
  package/MDAnalysis/lib/c_distances_openmp.pyx
  package/MDAnalysis/lib/nsgrid.pyx
  package/MDAnalysis/lib/qcprot.pyx
Labels: Component-Readers, Component-Analysis, Component-lib

#3910 Remove `pbc` kwarg from AtomGroup.wrap
  package/CHANGELOG
  package/MDAnalysis/core/groups.py
Labels: Component-Core

#3890 Add timeseries for all readers
  package/CHANGELOG
  package/MDAnalysis/coordinates/DCD.py
  package/MDAnalysis/coordinates/base.py
  package/MDAnalysis/coordinates/memory.py
  testsuite/MDAnalysisTests/coordinates/base.py
  testsuite/MDAnalysisTests/coordinates/test_dcd.py
  testsuite/MDAnalysisTests/coordinates/test_reader_api.py
Labels: Component-Readers, CZI-performance

#3913 Move libmdanalysis to lib
  package/CHANGELOG
  package/MDAnalysis/lib/libmdanalysis/__init__.pxd
Labels: Component-lib, CZI-performance

#3920 Fix implicit optional
  .github/workflows/gh-ci-cron.yaml
  package/MDAnalysis/lib/pkdtree.py
Labels: Component-lib

#3935 ENH: support GROMACS pathlib
  package/MDAnalysis/coordinates/base.py
  testsuite/MDAnalysisTests/coordinates/test_dcd.py
  testsuite/MDAnalysisTests/coordinates/test_xdr.py
Labels: enhancement, Format-Gromacs, Component-Readers

#3938 Allow kwargs to be passed through in `universe.transfer_to_memory()` and `in_memory=True``
  package/CHANGELOG
  package/MDAnalysis/core/universe.py
  testsuite/MDAnalysisTests/core/test_universe.py
Labels: Component-Core, CZI-performance

#3888 Improve libdcd cython
  package/CHANGELOG
  package/MDAnalysis/coordinates/DCD.py
  package/MDAnalysis/lib/formats/libdcd.pxd
  package/MDAnalysis/lib/formats/libdcd.pyx
  package/MDAnalysis/lib/libmdanalysis/__init__.pxd
  testsuite/MDAnalysisTests/analysis/test_pca.py
  testsuite/MDAnalysisTests/coordinates/base.py
  testsuite/MDAnalysisTests/coordinates/test_lammps.py
  testsuite/MDAnalysisTests/core/test_atomgroup.py
Labels: Component-Readers, Component-lib, CZI-performance

#3892 Improve xdr cython
  package/CHANGELOG
  package/MDAnalysis/coordinates/TRR.py
  package/MDAnalysis/coordinates/XDR.py
  package/MDAnalysis/coordinates/XTC.py
  package/MDAnalysis/lib/formats/libmdaxdr.pxd
  package/MDAnalysis/lib/formats/libmdaxdr.pyx
  package/MDAnalysis/lib/libmdanalysis/__init__.pxd
  testsuite/MDAnalysisTests/coordinates/test_xdr.py
Labels: Component-Readers, Component-lib, CZI-performance
