Repository MDAnalysis/mdanalysis, pull requests merged in 2022-06, with the labels that each got.

#3681 add DL_POLY Classic support
  package/AUTHORS
  package/CHANGELOG
  package/MDAnalysis/coordinates/DLPoly.py
  package/MDAnalysis/topology/DLPolyParser.py
  testsuite/MDAnalysisTests/data/dlpoly/HISTORY_classic
  testsuite/MDAnalysisTests/datafiles.py
  testsuite/MDAnalysisTests/topology/test_dlpoly.py
Labels: Component-Readers, Format-DL_Poly, Component-Topology

#3685 Fix reader copying by storing init arguments
  package/CHANGELOG
  package/MDAnalysis/coordinates/DCD.py
  package/MDAnalysis/coordinates/DLPoly.py
  package/MDAnalysis/coordinates/GMS.py
  package/MDAnalysis/coordinates/GSD.py
  package/MDAnalysis/coordinates/H5MD.py
  package/MDAnalysis/coordinates/LAMMPS.py
  package/MDAnalysis/coordinates/MOL2.py
  package/MDAnalysis/coordinates/PDB.py
  package/MDAnalysis/coordinates/TRJ.py
  package/MDAnalysis/coordinates/TRZ.py
  package/MDAnalysis/coordinates/TXYZ.py
  package/MDAnalysis/coordinates/XDR.py
  package/MDAnalysis/coordinates/XYZ.py
  package/MDAnalysis/coordinates/base.py
  package/MDAnalysis/coordinates/chain.py
  package/MDAnalysis/coordinates/chemfiles.py
  package/MDAnalysis/coordinates/memory.py
  package/MDAnalysis/lib/util.py
  testsuite/MDAnalysisTests/coordinates/test_chainreader.py
  testsuite/MDAnalysisTests/coordinates/test_chemfiles.py
  testsuite/MDAnalysisTests/coordinates/test_copying.py
  testsuite/MDAnalysisTests/coordinates/test_gms.py
  testsuite/MDAnalysisTests/coordinates/test_gsd.py
  testsuite/MDAnalysisTests/coordinates/test_h5md.py
  testsuite/MDAnalysisTests/coordinates/test_trj.py
  testsuite/MDAnalysisTests/lib/test_util.py
Labels: Component-Readers, Component-lib

#3691 Add Cython 0.29.30 generated files
  package/MDAnalysis/analysis/encore/clustering/affinityprop.c
  package/MDAnalysis/analysis/encore/cutils.c
  package/MDAnalysis/analysis/encore/dimensionality_reduction/stochasticproxembed.c
  package/MDAnalysis/lib/_augment.cpp
  package/MDAnalysis/lib/_cutil.cpp
  package/MDAnalysis/lib/c_distances.c
  package/MDAnalysis/lib/c_distances_openmp.c
  package/MDAnalysis/lib/formats/cython_util.c
  package/MDAnalysis/lib/formats/libdcd.c
  package/MDAnalysis/lib/formats/libmdaxdr.c
  package/MDAnalysis/lib/nsgrid.cpp
  package/MDAnalysis/lib/qcprot.c
Labels: Component-Analysis, Component-lib

#3697 Start 2.3.0-dev0 🎉
  maintainer/conda/MDAnalysis/meta.yaml
  package/CHANGELOG
  package/MDAnalysis/version.py
  package/setup.py
  testsuite/MDAnalysisTests/__init__.py
  testsuite/setup.py
Labels: Continuous Integration

#3706 Remove OpenMP private clauses by narrowing variable scopes
  package/MDAnalysis/lib/include/calc_distances.h
Labels: Component-lib

#3710 fix the versionchanged for frames
  package/CHANGELOG
  package/MDAnalysis/analysis/base.py
Labels: Component-Analysis

#3683 Cythonized Timestep [Core]
  package/CHANGELOG
  package/MDAnalysis/analysis/distances.py
  package/MDAnalysis/analysis/pca.py
  package/MDAnalysis/auxiliary/__init__.py
  package/MDAnalysis/auxiliary/base.py
  package/MDAnalysis/coordinates/DLPoly.py
  package/MDAnalysis/coordinates/DMS.py
  package/MDAnalysis/coordinates/FHIAIMS.py
  package/MDAnalysis/coordinates/GRO.py
  package/MDAnalysis/coordinates/H5MD.py
  package/MDAnalysis/coordinates/PDB.py
  package/MDAnalysis/coordinates/TRJ.py
  package/MDAnalysis/coordinates/TRZ.py
  package/MDAnalysis/coordinates/TXYZ.py
  package/MDAnalysis/coordinates/XYZ.py
  package/MDAnalysis/coordinates/__init__.py
  package/MDAnalysis/coordinates/base.py
  package/MDAnalysis/coordinates/chain.py
  package/MDAnalysis/coordinates/memory.py
  package/MDAnalysis/coordinates/timestep.pxd
  package/MDAnalysis/coordinates/timestep.pyx
  package/MDAnalysis/core/groups.py
  package/MDAnalysis/core/universe.py
  package/MDAnalysis/lib/NeighborSearch.py
  package/MDAnalysis/lib/distances.py
  package/MDAnalysis/lib/mdamath.py
  package/MDAnalysis/lib/pkdtree.py
  package/MDAnalysis/lib/util.py
  package/MDAnalysis/libmda/__init__.pxd
  package/MDAnalysis/transformations/boxdimensions.py
  package/MDAnalysis/transformations/fit.py
  package/MDAnalysis/transformations/positionaveraging.py
  package/MDAnalysis/transformations/rotate.py
  package/MDAnalysis/transformations/translate.py
  package/MDAnalysis/transformations/wrap.py
  package/doc/sphinx/source/documentation_pages/coordinates/timestep.rst
  package/doc/sphinx/source/documentation_pages/coordinates_modules.rst
  package/setup.py
  testsuite/MDAnalysisTests/coordinates/base.py
  testsuite/MDAnalysisTests/coordinates/test_dlpoly.py
  testsuite/MDAnalysisTests/coordinates/test_dms.py
  testsuite/MDAnalysisTests/coordinates/test_timestep_api.py
Labels: enhancement, Component-Readers, Component-Analysis, Component-Core, Component-lib, CZI-performance

#3503 Unpinning CI dependencies
  .coveragerc
  .github/actions/setup-deps/action.yaml
  .github/workflows/gh-ci.yaml
Labels: maintainability

#3728 Fix OpenMP
  package/CHANGELOG
  package/MDAnalysis/lib/include/calc_distances.h
  testsuite/MDAnalysisTests/lib/test_distances.py
Labels: Component-lib

#3713 add 0.5 for correct midpoints
  package/AUTHORS
  package/CHANGELOG
  package/MDAnalysis/analysis/hole2/hole.py
  testsuite/MDAnalysisTests/analysis/test_hole2.py
Labels: Component-Analysis
