Repository MDAnalysis/mdanalysis, pull requests merged in 2022-05, with the labels that each got.

#3617 Changed LinearDensity for Issue #2508
  package/CHANGELOG
  package/MDAnalysis/analysis/lineardensity.py
  testsuite/MDAnalysisTests/analysis/test_lineardensity.py
Labels: Component-Analysis

#3642 Rewind singleframe before on iter call
  package/CHANGELOG
  package/MDAnalysis/coordinates/__init__.py
  package/MDAnalysis/coordinates/base.py
  testsuite/MDAnalysisTests/analysis/test_rdf.py
  testsuite/MDAnalysisTests/coordinates/test_reader_api.py
Labels: Component-Readers

#3665 [proposal / MAINT] Update to python>=3.8, numpy>=1.9.0, gsd>=1.9.3, networkx>=2.0, and scipy>=1.5.0
  .github/workflows/gh-ci.yaml
  azure-pipelines.yml
  maintainer/conda/environment.yml
  package/CHANGELOG
  package/pyproject.toml
  package/requirements.txt
  package/setup.py
  testsuite/setup.py
Labels: Continuous Integration

#3666 public function listed
  package/MDAnalysis/lib/distances.py
Labels: Component-lib

#3641 Benchmarks for more lib.distances methods required #3205
  benchmarks/benchmarks/analysis/distances.py
  package/CHANGELOG
Labels: performance

#3415 Added frames processing to AnalysisBase
  package/AUTHORS
  package/CHANGELOG
  package/MDAnalysis/analysis/base.py
  package/doc/sphinx/source/documentation_pages/analysis_modules.rst
  testsuite/MDAnalysisTests/analysis/test_base.py
  testsuite/MDAnalysisTests/analysis/test_rms.py
Labels: Component-Analysis

#3671 Addd center_of_charge attribute
  package/CHANGELOG
  package/MDAnalysis/core/groups.py
  package/MDAnalysis/core/topologyattrs.py
  testsuite/MDAnalysisTests/core/test_topologyattrs.py
Labels: Component-Core
