Repository MDAnalysis/mdanalysis, pull requests merged in 2022-08, with the labels that each got.

#3751 Allow capped distance routines to accept an NumPy Array or AtomGroup [Core]
  package/MDAnalysis/lib/distances.py
  package/MDAnalysis/lib/util.py
  testsuite/MDAnalysisTests/lib/test_distances.py
Labels: Component-lib, CZI-performance

#3787 Fix type annotations in lib.distances
  package/MDAnalysis/lib/distances.py
Labels: Component-lib, typing

#3780 CI: native M1 testing
  .cirrus.yml
Labels: M1 Mac

#3802 Pre release 2.3.0
  maintainer/conda/MDAnalysis/meta.yaml
  package/CHANGELOG
  package/MDAnalysis/version.py
  package/setup.py
  testsuite/MDAnalysisTests/__init__.py
  testsuite/setup.py
Labels: Continuous Integration

#3803 Add Cython 0.29.32 generated files
  package/MDAnalysis/analysis/encore/clustering/affinityprop.c
  package/MDAnalysis/analysis/encore/cutils.c
  package/MDAnalysis/analysis/encore/dimensionality_reduction/stochasticproxembed.c
  package/MDAnalysis/coordinates/timestep.cpp
  package/MDAnalysis/lib/_augment.cpp
  package/MDAnalysis/lib/_cutil.cpp
  package/MDAnalysis/lib/c_distances.c
  package/MDAnalysis/lib/c_distances_openmp.c
  package/MDAnalysis/lib/formats/cython_util.c
  package/MDAnalysis/lib/formats/libdcd.c
  package/MDAnalysis/lib/formats/libmdaxdr.c
  package/MDAnalysis/lib/nsgrid.cpp
  package/MDAnalysis/lib/qcprot.c
Labels: Component-Readers, Component-Analysis, Component-lib

#3805 Fix the citation and year info in `calc_distances.h`
  package/MDAnalysis/lib/include/calc_distances.h
Labels: Component-Docs, Component-lib
