Repository MDAnalysis/mdanalysis, pull requests merged in 2022-01, with the labels that each got.

#3489 Fixes frame indexing in create_vmd_surface
  package/CHANGELOG
  package/MDAnalysis/analysis/hole2/hole.py
  testsuite/MDAnalysisTests/analysis/test_hole2.py
Labels: Component-Analysis

#3499 Chemfiles updates
  azure-pipelines.yml
  maintainer/conda/environment.yml
  package/MDAnalysis/coordinates/chemfiles.py
  package/setup.py
  testsuite/MDAnalysisTests/coordinates/test_chemfiles.py
Labels: Component-Readers, Continuous Integration

#3472 Feature minimise vectors
  package/CHANGELOG
  package/MDAnalysis/lib/c_distances.pyx
  package/MDAnalysis/lib/distances.py
  package/MDAnalysis/lib/util.py
  testsuite/MDAnalysisTests/lib/test_distances.py
Labels: Component-lib, PBC

#3249 Coverage density raised to 100% [issue #3207]
  package/CHANGELOG
  package/MDAnalysis/analysis/density.py
  testsuite/MDAnalysisTests/analysis/test_density.py
Labels: testing, Component-Analysis, GSoC

#3496 Issue#3493
  package/CHANGELOG
  package/MDAnalysis/analysis/hole2/hole.py
  testsuite/MDAnalysisTests/analysis/test_hole2.py
Labels: Component-Analysis

#3508 Remove skipifs from streamio tests
  testsuite/MDAnalysisTests/utils/test_streamio.py
  testsuite/setup.cfg
Labels: maintainability, testing

#3399 WIP, CI: add newer msvc to Azure CI
  azure-pipelines.yml
  testsuite/MDAnalysisTests/lib/test_augment.py
Labels: OpSys-Windows, Continuous Integration
