Repository MDAnalysis/mdanalysis, pull requests merged in 2022-03, with the labels that each got.

#3527 BLD, MAINT: hoist packaging import
  package/setup.py
Labels: maintainability, installation

#3549 Add packaging as a core dependency of MDAnalysis
  .github/actions/setup-deps/action.yaml
  .travis.yml
  azure-pipelines.yml
  maintainer/conda/environment.yml
  package/CHANGELOG
  package/requirements.txt
  package/setup.py
Labels: Continuous Integration

#3552 Fix leftover simtk import and fix openmm docs
  package/MDAnalysis/converters/OpenMM.py
  package/MDAnalysis/converters/OpenMMParser.py
  package/MDAnalysis/converters/ParmEdParser.py
Labels: Component-Converters

#3553 Complete release v2.1.0
  maintainer/conda/MDAnalysis/meta.yaml
  package/CHANGELOG
  package/MDAnalysis/version.py
  package/doc/sphinx/source/documentation_pages/selections.rst
  package/setup.py
  testsuite/MDAnalysisTests/__init__.py
  testsuite/setup.py
Labels: Continuous Integration

#3558 Start 2.2.0-dev0
  maintainer/conda/MDAnalysis/meta.yaml
  package/CHANGELOG
  package/MDAnalysis/version.py
  package/setup.py
  testsuite/MDAnalysisTests/__init__.py
  testsuite/setup.py
Labels: Continuous Integration

#3564 Issue #2417: ITPParser should not add angles to SETTLEd waters.
  package/AUTHORS
  package/CHANGELOG
  package/MDAnalysis/topology/ITPParser.py
  testsuite/MDAnalysisTests/topology/test_itp.py
Labels: Component-Topology

#3403 Fix for issue #3383 triclinic lammpsdump
  package/AUTHORS
  package/CHANGELOG
  package/MDAnalysis/coordinates/LAMMPS.py
  testsuite/MDAnalysisTests/coordinates/test_lammps.py
  testsuite/MDAnalysisTests/data/lammps/albite_triclinic.data
  testsuite/MDAnalysisTests/data/lammps/albite_triclinic.dump
  testsuite/MDAnalysisTests/datafiles.py
Labels: Component-Readers, format-LAMMPS

#3566 Test features of Cluster class
  package/AUTHORS
  package/CHANGELOG
  package/MDAnalysis/analysis/encore/clustering/ClusterCollection.py
  testsuite/MDAnalysisTests/analysis/test_encore.py
Labels: testing, Component-Analysis

#3565 Provide ability to use AtomGroup as selection for Contact
  package/AUTHORS
  package/CHANGELOG
  package/MDAnalysis/analysis/contacts.py
  testsuite/MDAnalysisTests/analysis/test_contacts.py
Labels: Component-Analysis
