Repository MDAnalysis/mdanalysis, pull requests merged in 2022-09, with the labels that each got.

#3806 Add a simple benchmark for bonds
  benchmarks/benchmarks/topology.py
  package/CHANGELOG
Labels: performance, benchmarks

#3807 Avoid using set operations in distances.between
  package/CHANGELOG
  package/MDAnalysis/analysis/distances.py
  testsuite/MDAnalysisTests/analysis/test_distances.py
Labels: Component-Analysis

#3814 Reduce warnings from Universe.empty
  package/CHANGELOG
  package/MDAnalysis/core/universe.py
  testsuite/MDAnalysisTests/core/test_universe.py
Labels: Component-Core

#3823 Annotations for init file
  package/MDAnalysis/__init__.py
Labels: typing

#3729 Type hints for lib module
  mypy.ini
  package/MDAnalysis/__init__.py
  package/MDAnalysis/lib/NeighborSearch.py
  package/MDAnalysis/lib/mdamath.py
  package/MDAnalysis/lib/pkdtree.py
Labels: Component-lib, outreachy-project, typing

#3749 AuxReader for EDR Files
  .github/actions/setup-deps/action.yaml
  maintainer/conda/environment.yml
  package/CHANGELOG
  package/MDAnalysis/auxiliary/EDR.py
  package/MDAnalysis/auxiliary/XVG.py
  package/MDAnalysis/auxiliary/__init__.py
  package/MDAnalysis/auxiliary/base.py
  package/MDAnalysis/coordinates/base.py
  package/MDAnalysis/units.py
  package/doc/sphinx/source/documentation_pages/auxiliary/EDR.rst
  package/doc/sphinx/source/documentation_pages/auxiliary_modules.rst
  package/setup.py
  testsuite/MDAnalysisTests/auxiliary/base.py
  testsuite/MDAnalysisTests/auxiliary/test_core.py
  testsuite/MDAnalysisTests/auxiliary/test_edr.py
  testsuite/MDAnalysisTests/auxiliary/test_xvg.py
  testsuite/MDAnalysisTests/data/aux_edr.tpr
  testsuite/MDAnalysisTests/data/aux_edr.xtc
  testsuite/MDAnalysisTests/data/aux_edr_raw.txt
  testsuite/MDAnalysisTests/data/test.edr
  testsuite/MDAnalysisTests/datafiles.py
  testsuite/MDAnalysisTests/utils/test_units.py
Labels: Component-Readers, Component-Aux, Continuous Integration, GSoC

#3779 gussed_attributes and read_attributes methods unexpected behavior
  package/CHANGELOG
  package/MDAnalysis/core/topology.py
  testsuite/MDAnalysisTests/core/test_topology.py
Labels: Component-Core

#3826 adding element attribute to txyz parser
  package/CHANGELOG
  package/MDAnalysis/topology/TXYZParser.py
  testsuite/MDAnalysisTests/topology/test_txyz.py
Labels: Component-Topology, Format-Tinker
