Repository MDAnalysis/mdanalysis, pull requests merged in 2022-04, with the labels that each got.

#3044 An "accurate and reliable" RDKitConverter
  package/CHANGELOG
  package/MDAnalysis/converters/RDKit.py
  package/MDAnalysis/core/selection.py
  package/MDAnalysis/topology/guessers.py
  testsuite/MDAnalysisTests/converters/test_rdkit.py
Labels: Component-Core, Component-Topology, Component-Converters

#3591 Added RMSD plot example in section 4.2.4
  package/MDAnalysis/analysis/rms.py
  package/doc/sphinx/source/images/RSMD_plot.png
Labels: Component-Analysis

#3595 BLD: improve M1 build support
  package/pyproject.toml
  testsuite/MDAnalysisTests/analysis/test_encore.py
Labels: installation, M1 Mac

#3598 Fix optional field handling in MOL2Parser and MOL2
  package/AUTHORS
  package/CHANGELOG
  package/MDAnalysis/coordinates/MOL2.py
  package/MDAnalysis/topology/MOL2Parser.py
  testsuite/MDAnalysisTests/topology/test_mol2.py
Labels: Component-Readers, Component-Topology

#3572 LinearDensity now working with residues/segments
  package/CHANGELOG
  package/MDAnalysis/analysis/lineardensity.py
  testsuite/MDAnalysisTests/analysis/test_lineardensity.py
Labels: Component-Analysis

#3616 Fix docs code block for lineardensity
  package/MDAnalysis/analysis/lineardensity.py
Labels: Component-Analysis

#3606 Fix FrameIteratorIndices doesn't rewind (#3416)
  package/AUTHORS
  package/CHANGELOG
  package/MDAnalysis/coordinates/base.py
  testsuite/MDAnalysisTests/coordinates/base.py
Labels: Component-Readers

#3541 Accept AtomGroup alongwith Universe in the DistanceMatrix
  package/AUTHORS
  package/CHANGELOG
  package/MDAnalysis/analysis/diffusionmap.py
  testsuite/MDAnalysisTests/analysis/test_diffusionmap.py
Labels: Component-Analysis

#3596 Fix issue 2703 (On-the-fly transformation for principal component projection)
  package/AUTHORS
  package/CHANGELOG
  package/MDAnalysis/analysis/pca.py
  testsuite/MDAnalysisTests/analysis/test_pca.py
Labels: Component-Analysis

#3579 Shift hole2 docs to module level docstring
  package/AUTHORS
  package/CHANGELOG
  package/MDAnalysis/analysis/hole2/__init__.py
  package/MDAnalysis/analysis/hole2/hole.py
  package/MDAnalysis/analysis/hole2/templates.py
  package/doc/sphinx/source/documentation_pages/analysis/hole2.rst
Labels: Component-Analysis

#3615 issue#3584 added plots for rama_ref and janin_ref
  package/AUTHORS
  package/MDAnalysis/analysis/data/filenames.py
  package/doc/sphinx/source/images/janin_ref_plot.png
  package/doc/sphinx/source/images/rama_ref_plot.png
Labels: Component-Analysis

#3619 Updated elementwise comparison
  package/AUTHORS
  package/CHANGELOG
  package/MDAnalysis/analysis/hydrogenbonds/hbond_autocorrel.py
Labels: Component-Analysis

#3633 MSD example where multiple replicates are combined
  package/AUTHORS
  package/CHANGELOG
  package/MDAnalysis/analysis/msd.py
Labels: Component-Analysis

#3646 spelling errors corrected accross various files
  package/MDAnalysis/analysis/align.py
  package/MDAnalysis/analysis/base.py
  package/MDAnalysis/analysis/diffusionmap.py
  package/MDAnalysis/analysis/dihedrals.py
  package/MDAnalysis/analysis/gnm.py
  package/MDAnalysis/analysis/hydrogenbonds/wbridge_analysis.py
  package/MDAnalysis/analysis/nuclinfo.py
  package/MDAnalysis/analysis/pca.py
  package/MDAnalysis/analysis/polymer.py
  package/MDAnalysis/analysis/psa.py
  package/MDAnalysis/analysis/waterdynamics.py
  package/MDAnalysis/auxiliary/__init__.py
Labels: Component-Analysis

#3635 Make CRD EXT format optional
  package/AUTHORS
  package/CHANGELOG
  package/MDAnalysis/coordinates/CRD.py
  testsuite/MDAnalysisTests/coordinates/test_crd.py
Labels: Component-Readers

#3640 Bat cartesian method modifies input data
  package/CHANGELOG
  package/MDAnalysis/analysis/bat.py
  testsuite/MDAnalysisTests/analysis/test_bat.py
Labels: Component-Analysis

#3650 Remove None from filenames in analysis.hole.HoleAnalysis
  package/CHANGELOG
  package/MDAnalysis/analysis/hole2/hole.py
  testsuite/MDAnalysisTests/analysis/test_hole2.py
Labels: Component-Analysis

#3652 Sort and add intersphinx_mapping
  package/CHANGELOG
  package/MDAnalysis/analysis/density.py
  package/doc/sphinx/source/conf.py
Labels: Component-Docs, Component-Analysis

#3511 Fix OpenMM parser not working when elements is not set
  package/CHANGELOG
  package/MDAnalysis/converters/OpenMMParser.py
  testsuite/MDAnalysisTests/converters/test_openmm_parser.py
Labels: Component-Converters
