Repository MDAnalysis/mdanalysis, pull requests merged in 2022-12, with the labels that each got.

#3848 Hbond update
  .gitignore
  package/CHANGELOG
  package/MDAnalysis/analysis/hydrogenbonds/hbond_analysis.py
  testsuite/MDAnalysisTests/analysis/test_hydrogenbonds_analysis.py
Labels: Component-Analysis

#3951 deprecate sequence_alignment() and replace deprecated Bio.pairwise2 with Bio.Align.PairwiseAligner
  .github/actions/setup-deps/action.yaml
  package/CHANGELOG
  package/MDAnalysis/analysis/align.py
  package/requirements.txt
  package/setup.py
  testsuite/MDAnalysisTests/analysis/test_align.py
Labels: Component-Analysis

#3903 bump up azure and gh CI to py3.11
  .github/workflows/deploy.yaml
  .github/workflows/gh-ci.yaml
  azure-pipelines.yml
  package/CHANGELOG
  package/pyproject.toml
Labels: Continuous Integration

#3956 Calc_dihedral docstring updated
  package/AUTHORS
  package/CHANGELOG
  package/MDAnalysis/lib/distances.py
Labels: Component-Docs, Component-lib

#3765 Add a reader for TNG files using pytng
  .github/actions/setup-deps/action.yaml
  azure-pipelines.yml
  maintainer/conda/environment.yml
  package/CHANGELOG
  package/MDAnalysis/coordinates/TNG.py
  package/MDAnalysis/coordinates/__init__.py
  package/doc/sphinx/source/documentation_pages/coordinates/TNG.rst
  package/doc/sphinx/source/documentation_pages/coordinates_modules.rst
  package/doc/sphinx/source/references.bib
  package/setup.py
  testsuite/MDAnalysisTests/coordinates/test_tng.py
  testsuite/MDAnalysisTests/data/argon_npt_compressed.gro.gz
  testsuite/MDAnalysisTests/data/argon_npt_compressed.tng
  testsuite/MDAnalysisTests/data/argon_npt_compressed_uneven.tng
  testsuite/MDAnalysisTests/data/argon_npt_compressed_vels_forces.tng
  testsuite/MDAnalysisTests/data/coordinates/test.tng
  testsuite/MDAnalysisTests/datafiles.py
  testsuite/setup.py
Labels: Format-Gromacs, Component-Readers, Format-TNG, Continuous Integration

#3957 Add more detail to DCD timestep deprecation message
  package/MDAnalysis/coordinates/DCD.py
Labels: Component-Readers

#3960 Tie off release 2.4.0
  maintainer/conda/MDAnalysis/meta.yaml
  package/CHANGELOG
  package/MDAnalysis/version.py
  package/setup.py
  testsuite/MDAnalysisTests/__init__.py
  testsuite/setup.py
Labels: Continuous Integration

#3970 Add Cython 0.29.32 generated files
  package/MDAnalysis/analysis/encore/clustering/affinityprop.c
  package/MDAnalysis/analysis/encore/cutils.c
  package/MDAnalysis/analysis/encore/dimensionality_reduction/stochasticproxembed.c
  package/MDAnalysis/coordinates/timestep.cpp
  package/MDAnalysis/lib/_augment.cpp
  package/MDAnalysis/lib/_cutil.cpp
  package/MDAnalysis/lib/c_distances.c
  package/MDAnalysis/lib/c_distances_openmp.c
  package/MDAnalysis/lib/formats/cython_util.c
  package/MDAnalysis/lib/formats/libdcd.c
  package/MDAnalysis/lib/formats/libmdaxdr.c
  package/MDAnalysis/lib/nsgrid.cpp
  package/MDAnalysis/lib/qcprot.c
Labels: Component-Readers, Component-Analysis, Component-lib

#3966 Start 2.5.0-dev0
  maintainer/conda/MDAnalysis/meta.yaml
  package/CHANGELOG
  package/MDAnalysis/version.py
  package/setup.py
  testsuite/MDAnalysisTests/__init__.py
  testsuite/setup.py
Labels: Continuous Integration

#3971 Pre-release 2.4.1 + fix pyproject.toml version pins
  maintainer/conda/MDAnalysis/meta.yaml
  package/CHANGELOG
  package/MDAnalysis/version.py
  package/pyproject.toml
  package/setup.py
  testsuite/MDAnalysisTests/__init__.py
  testsuite/setup.py
Labels: Continuous Integration

#3974 Start 2.5.0-dev0
  maintainer/conda/MDAnalysis/meta.yaml
  package/CHANGELOG
  package/MDAnalysis/version.py
  package/setup.py
  testsuite/MDAnalysisTests/__init__.py
  testsuite/setup.py
Labels: Continuous Integration

#3976 histogramdd normed argument replaced by density
  azure-pipelines.yml
  package/CHANGELOG
  package/MDAnalysis/analysis/density.py
Labels: Component-Analysis, Continuous Integration
