Repository MDAnalysis/mdanalysis, pull requests merged in 2022-07, with the labels that each got.

#3737 bump up numpy min version to 1.20
  .github/workflows/gh-ci.yaml
  .travis.yml
  azure-pipelines.yml
  maintainer/conda/environment.yml
  package/CHANGELOG
  package/pyproject.toml
  package/requirements.txt
  package/setup.py
Labels: Continuous Integration

#3711 add h5py to setup.py's extra_requires
  .github/actions/setup-deps/action.yaml
  azure-pipelines.yml
  maintainer/conda/environment.yml
  package/CHANGELOG
  package/setup.py
Labels: Continuous Integration

#3730 Allow distance routines to accept an NumPy Array or AtomGroup [Core]
  package/CHANGELOG
  package/MDAnalysis/lib/distances.py
  package/MDAnalysis/lib/util.py
  testsuite/MDAnalysisTests/lib/test_distances.py
  testsuite/MDAnalysisTests/lib/test_util.py
Labels: Component-lib, CZI-performance

#3755 Add formalcharge attribute and read/write them from PDB
  package/CHANGELOG
  package/MDAnalysis/coordinates/PDB.py
  package/MDAnalysis/core/groups.py
  package/MDAnalysis/core/topologyattrs.py
  package/MDAnalysis/topology/ExtendedPDBParser.py
  package/MDAnalysis/topology/PDBParser.py
  package/doc/sphinx/source/documentation_pages/selections.rst
  testsuite/MDAnalysisTests/coordinates/test_pdb.py
  testsuite/MDAnalysisTests/core/test_atomselections.py
  testsuite/MDAnalysisTests/data/charges.pdb
  testsuite/MDAnalysisTests/data/elements.pdb
  testsuite/MDAnalysisTests/datafiles.py
  testsuite/MDAnalysisTests/topology/test_pdb.py
Labels: Component-Readers, Component-Core, Component-Topology

#3670 Fix reading/writing CONECT records in PDB files with many atoms
  package/CHANGELOG
  package/MDAnalysis/coordinates/PDB.py
  package/MDAnalysis/topology/PDBParser.py
  testsuite/MDAnalysisTests/coordinates/test_pdb.py
  testsuite/MDAnalysisTests/data/conect_error.pdb
  testsuite/MDAnalysisTests/datafiles.py
Labels: Component-Readers, Component-Topology

#3663 Updated references format to BibTex.
  .github/workflows/gh-ci.yaml
  package/MDAnalysis/analysis/bat.py
  package/MDAnalysis/analysis/contacts.py
  package/MDAnalysis/analysis/data/filenames.py
  package/MDAnalysis/analysis/diffusionmap.py
  package/MDAnalysis/analysis/dihedrals.py
  package/MDAnalysis/analysis/encore/similarity.py
  package/MDAnalysis/analysis/gnm.py
  package/MDAnalysis/analysis/hole2/__init__.py
  package/MDAnalysis/analysis/hydrogenbonds/hbond_autocorrel.py
  package/MDAnalysis/analysis/hydrogenbonds/wbridge_analysis.py
  package/MDAnalysis/analysis/legacy/x3dna.py
  package/MDAnalysis/analysis/msd.py
  package/MDAnalysis/analysis/nucleicacids.py
  package/MDAnalysis/analysis/nuclinfo.py
  package/MDAnalysis/analysis/pca.py
  package/MDAnalysis/analysis/psa.py
  package/MDAnalysis/analysis/rms.py
  package/MDAnalysis/analysis/waterdynamics.py
  package/MDAnalysis/lib/correlations.py
  package/MDAnalysis/lib/transformations.py
  package/MDAnalysis/units.py
  package/MDAnalysis/visualization/streamlines.py
  package/MDAnalysis/visualization/streamlines_3D.py
  package/doc/sphinx/source/conf.py
  package/doc/sphinx/source/documentation_pages/analysis/encore.rst
  package/doc/sphinx/source/documentation_pages/analysis/hole2.rst
  package/doc/sphinx/source/references.bib
Labels: Component-Docs, Component-Analysis, Component-lib

#3724 Refactor make_downshift_arrays and enhance the performance of topology construction
  package/CHANGELOG
  package/MDAnalysis/core/topology.py
  testsuite/MDAnalysisTests/core/test_copying.py
  testsuite/MDAnalysisTests/core/test_topology.py
Labels: Component-Core
