Repository MDAnalysis/mdanalysis, pull requests merged in 2023-08, with the labels that each got.

#4226 fixed incorrect duecredit environment variable in documentation
  package/doc/sphinx/source/documentation_pages/references.rst
Labels: defect, Component-Docs

#4221 TST: test_streamplot_2D faster
  testsuite/MDAnalysisTests/visualization/test_streamlines.py
Labels: testing

#4231 fix error message for XDR readers
  package/MDAnalysis/coordinates/XDR.py
  testsuite/MDAnalysisTests/coordinates/base.py
  testsuite/MDAnalysisTests/coordinates/test_xdr.py
Labels: Component-Readers

#4235 Deal with leftover master branch references
  .github/workflows/darkerbot.yaml
  .github/workflows/gh-ci-cron.yaml
  .github/workflows/gh-ci.yaml
  .github/workflows/linters.yaml
  CODE_OF_CONDUCT.md
  README.rst
  azure-pipelines.yml
  benchmarks/README.rst
Labels: performance, Continuous Integration

#4198 Build wheels with numpy 1.25+
  .github/actions/build-src/action.yaml
  .github/workflows/deploy.yaml
  .github/workflows/gh-ci-cron.yaml
  .github/workflows/gh-ci.yaml
  azure-pipelines.yml
  package/CHANGELOG
  package/pyproject.toml
Labels: Continuous Integration

#4243 Add Cython 3.0.0 generated files
  package/MDAnalysis/analysis/encore/clustering/affinityprop.c
  package/MDAnalysis/analysis/encore/cutils.c
  package/MDAnalysis/analysis/encore/dimensionality_reduction/stochasticproxembed.c
  package/MDAnalysis/coordinates/timestep.cpp
  package/MDAnalysis/lib/_augment.cpp
  package/MDAnalysis/lib/_cutil.cpp
  package/MDAnalysis/lib/c_distances.c
  package/MDAnalysis/lib/c_distances_openmp.c
  package/MDAnalysis/lib/formats/cython_util.c
  package/MDAnalysis/lib/formats/libdcd.c
  package/MDAnalysis/lib/formats/libmdaxdr.c
  package/MDAnalysis/lib/nsgrid.cpp
  package/MDAnalysis/lib/qcprot.c
Labels: Component-Readers, Component-Analysis, Component-lib

#4239 [HOLD 2.7.0] Add pandas to nightly wheel installs
  .github/workflows/gh-ci-cron.yaml
  package/MDAnalysis/analysis/hydrogenbonds/hbond_analysis.py
Labels: Component-Analysis

#4246 Change DEFs to cdef int constants
  package/CHANGELOG
  package/MDAnalysis/lib/nsgrid.pyx
Labels: Component-lib

#4168 modified guess_atom_element for more accurate guess
  package/AUTHORS
  package/CHANGELOG
  package/MDAnalysis/topology/guessers.py
  testsuite/MDAnalysisTests/topology/test_guessers.py
Labels: Component-Topology

#4248 SurvivalProbabilty Docs
  package/CHANGELOG
  package/MDAnalysis/analysis/waterdynamics.py
Labels: Component-Analysis

#4255 MAINT: in1d -> isin
  package/CHANGELOG
  package/MDAnalysis/analysis/align.py
  package/MDAnalysis/analysis/hydrogenbonds/hbond_analysis.py
  package/MDAnalysis/core/groups.py
  package/MDAnalysis/core/selection.py
  package/MDAnalysis/core/topologyattrs.py
  package/MDAnalysis/core/topologyobjects.py
  testsuite/MDAnalysisTests/core/test_groups.py
Labels: maintainability, Component-Analysis, Component-Core

#4266 Add Cython 3.0.2 generated files
  package/MDAnalysis/analysis/encore/clustering/affinityprop.c
  package/MDAnalysis/analysis/encore/cutils.c
  package/MDAnalysis/analysis/encore/dimensionality_reduction/stochasticproxembed.c
  package/MDAnalysis/coordinates/timestep.cpp
  package/MDAnalysis/lib/_augment.cpp
  package/MDAnalysis/lib/_cutil.cpp
  package/MDAnalysis/lib/c_distances.c
  package/MDAnalysis/lib/c_distances_openmp.c
  package/MDAnalysis/lib/formats/cython_util.c
  package/MDAnalysis/lib/formats/libdcd.c
  package/MDAnalysis/lib/formats/libmdaxdr.c
  package/MDAnalysis/lib/nsgrid.cpp
  package/MDAnalysis/lib/qcprot.c
Labels: Component-Readers, Component-Analysis, Component-lib

#4253 Move ConverterBase out of coordinates/base.py
  package/CHANGELOG
  package/MDAnalysis/converters/ParmEd.py
  package/MDAnalysis/converters/RDKit.py
  package/MDAnalysis/converters/base.py
  package/MDAnalysis/coordinates/base.py
  package/doc/sphinx/source/documentation_pages/converters.rst
  package/doc/sphinx/source/documentation_pages/converters/base.rst
  testsuite/MDAnalysisTests/converters/test_base.py
Labels: Component-Readers, Component-Converters

#4271 switch out xdrlib to mda_xdrlib
  .github/actions/setup-deps/action.yaml
  package/CHANGELOG
  package/MDAnalysis/topology/TPRParser.py
  package/MDAnalysis/topology/tpr/utils.py
  package/pyproject.toml
  package/setup.py
Labels: Component-Topology

#4272 Fix gh cron CI
  .github/workflows/gh-ci-cron.yaml
  package/CHANGELOG
  package/MDAnalysis/lib/util.py
  testsuite/MDAnalysisTests/analysis/test_density.py
Labels: Component-lib
