Repository MDAnalysis/mdanalysis, pull requests merged in 2023-03, with the labels that each got.

#4049 resolved Issue #4026 updated request of #4029
  package/AUTHORS
  package/CHANGELOG
  package/MDAnalysis/analysis/hydrogenbonds/hbond_analysis.py
Labels: Component-Analysis

#4052 Support TPR files produced by gromacs 2023
  package/CHANGELOG
  package/MDAnalysis/topology/TPRParser.py
  package/MDAnalysis/topology/tpr/setting.py
  testsuite/MDAnalysisTests/data/tprs/2lyz_gmx_2023.tpr
  testsuite/MDAnalysisTests/data/tprs/all_bonded/dummy_2023.tpr
  testsuite/MDAnalysisTests/data/tprs/virtual_sites/extra-interactions-2023.tpr
  testsuite/MDAnalysisTests/datafiles.py
  testsuite/MDAnalysisTests/topology/test_tprparser.py
Labels: Format-Gromacs, Component-Topology

#4035 Fix doctest for MDAnalysis.analysis.psa
  package/MDAnalysis/analysis/psa.py
Labels: Component-Analysis

#4062 Fix doctest for MDAnalysis.core.groups (#3925)
  package/MDAnalysis/core/groups.py
Labels: Component-Core

#3905 gyration_moments method / allow shape parameters to yield per residue quantities
  package/CHANGELOG
  package/MDAnalysis/core/topologyattrs.py
  testsuite/MDAnalysisTests/core/test_atomgroup.py
Labels: Component-Core

#4074 Netcdf with no time
  package/AUTHORS
  package/CHANGELOG
  package/MDAnalysis/coordinates/TRJ.py
  testsuite/MDAnalysisTests/coordinates/test_netcdf.py
  testsuite/MDAnalysisTests/data/Amber/cpptraj_traj.nc
  testsuite/MDAnalysisTests/data/Amber/cpptraj_traj.prmtop
  testsuite/MDAnalysisTests/datafiles.py
Labels: Component-Readers

#4059 Issue #2395 AtomGroup.guess_bonds
  package/AUTHORS
  package/CHANGELOG
  package/MDAnalysis/core/groups.py
  package/MDAnalysis/core/universe.py
  testsuite/MDAnalysisTests/core/test_universe.py
Labels: Component-Core

#4076 Fix parsing of box vector in H5MD reader
  package/AUTHORS
  package/CHANGELOG
  package/MDAnalysis/coordinates/H5MD.py
  testsuite/MDAnalysisTests/coordinates/test_h5md.py
Labels: Component-Readers

#4072 add progress bars
  package/AUTHORS
  package/CHANGELOG
  package/MDAnalysis/analysis/msd.py
Labels: Component-Analysis

#4085 Add progress bar keywords
  package/AUTHORS
  package/CHANGELOG
  package/MDAnalysis/analysis/base.py
  testsuite/MDAnalysisTests/analysis/test_base.py
Labels: Component-Analysis

#4048 Issue 4039 large dcd
  package/CHANGELOG
  package/MDAnalysis/lib/formats/libdcd.pxd
  package/MDAnalysis/lib/formats/libdcd.pyx
  testsuite/MDAnalysisTests/coordinates/test_dcd.py
Labels: Format-DCD, Component-lib, CZI-performance

#4102 Add necessary commits for 2.4.3
  maintainer/conda/MDAnalysis/meta.yaml
  package/CHANGELOG
  package/MDAnalysis/lib/formats/libdcd.pxd
  package/MDAnalysis/lib/formats/libdcd.pyx
  package/MDAnalysis/version.py
  package/setup.py
  testsuite/MDAnalysisTests/__init__.py
  testsuite/MDAnalysisTests/converters/test_parmed_parser.py
  testsuite/MDAnalysisTests/coordinates/test_dcd.py
  testsuite/setup.py
Labels: Component-lib, Continuous Integration

#4104 Add Cython 0.29.33 generated files
  package/MDAnalysis/analysis/encore/clustering/affinityprop.c
  package/MDAnalysis/analysis/encore/cutils.c
  package/MDAnalysis/analysis/encore/dimensionality_reduction/stochasticproxembed.c
  package/MDAnalysis/coordinates/timestep.cpp
  package/MDAnalysis/lib/_augment.cpp
  package/MDAnalysis/lib/_cutil.cpp
  package/MDAnalysis/lib/c_distances.c
  package/MDAnalysis/lib/c_distances_openmp.c
  package/MDAnalysis/lib/formats/cython_util.c
  package/MDAnalysis/lib/formats/libdcd.c
  package/MDAnalysis/lib/formats/libmdaxdr.c
  package/MDAnalysis/lib/nsgrid.cpp
  package/MDAnalysis/lib/qcprot.c
Labels: Component-Readers, Component-Analysis, Component-lib

#4089 performance improvements
  package/AUTHORS
  package/CHANGELOG
  package/MDAnalysis/analysis/bat.py
  package/MDAnalysis/core/groups.py
  package/MDAnalysis/core/topologyattrs.py
  package/MDAnalysis/lib/transformations.py
Labels: Component-Analysis, Component-Core, Component-lib
