Repository MDAnalysis/mdanalysis, pull requests merged in 2023-10, with the labels that each got.

#3735 Nuclinfo Major Pair and Minor Pair overhaul
  package/CHANGELOG
  package/MDAnalysis/analysis/nucleicacids.py
  testsuite/MDAnalysisTests/analysis/test_nucleicacids.py
Labels: Component-Analysis

#4309 MAINT: mkdtemp 3.12 support
  package/MDAnalysis/analysis/hole2/utils.py
Labels: maintainability, Component-Analysis

#4300 MAINT: Python 3.12 support improve
  package/MDAnalysis/lib/picklable_file_io.py
Labels: maintainability, Component-lib

#4301 MAINT: Python 3.12 cleanups part 2
  package/MDAnalysis/lib/src/transformations/transformations.c
Labels: maintainability, Component-lib

#4283 Fix charge reading from PDBQTParser
  package/CHANGELOG
  package/MDAnalysis/coordinates/PDBQT.py
  package/MDAnalysis/topology/PDBQTParser.py
  testsuite/MDAnalysisTests/data/tyrosol.pdbqt.bz2
  testsuite/MDAnalysisTests/datafiles.py
  testsuite/MDAnalysisTests/topology/test_pdbqt.py
Labels: maintainability, Component-Readers, Component-Topology, Format-PDBQT

#4325 Update deploy things for py312 + OpenID Connect publishing
  .github/workflows/darkerbot.yaml
  .github/workflows/deploy.yaml
  .github/workflows/gh-ci-cron.yaml
  .github/workflows/gh-ci.yaml
  .github/workflows/linters.yaml
  maintainer/ci/cirrus-ci.yml
  maintainer/ci/cirrus-deploy.yml
Labels: Continuous Integration

#4327 Add Py3.12 for Azure pipelines CI
  azure-pipelines.yml
Labels: Continuous Integration
