Repository MDAnalysis/mdanalysis, pull requests merged in 2023-01, with the labels that each got.

#3953 Add pickling of Atom, Residue, Segment and groups.
  package/AUTHORS
  package/CHANGELOG
  package/MDAnalysis/core/groups.py
  testsuite/MDAnalysisTests/core/test_atom.py
  testsuite/MDAnalysisTests/core/test_atomgroup.py
  testsuite/MDAnalysisTests/core/test_residue.py
  testsuite/MDAnalysisTests/core/test_residuegroup.py
  testsuite/MDAnalysisTests/core/test_segment.py
  testsuite/MDAnalysisTests/core/test_segmentgroup.py
Labels: Component-Core

#3987 pre-release 2.4.2
  .coveragerc
  .github/workflows/gh-ci-cron.yaml
  azure-pipelines.yml
  maintainer/conda/MDAnalysis/meta.yaml
  package/CHANGELOG
  package/MDAnalysis/analysis/density.py
  package/MDAnalysis/version.py
  package/MDAnalysis/visualization/streamlines.py
  package/MDAnalysis/visualization/streamlines_3D.py
  package/setup.py
  testsuite/MDAnalysisTests/__init__.py
  testsuite/MDAnalysisTests/visualization/test_streamlines.py
  testsuite/setup.py
Labels: Component-Analysis, Continuous Integration

#3989 Add Cython 0.29.32 generated files
  package/MDAnalysis/analysis/encore/clustering/affinityprop.c
  package/MDAnalysis/analysis/encore/cutils.c
  package/MDAnalysis/analysis/encore/dimensionality_reduction/stochasticproxembed.c
  package/MDAnalysis/coordinates/timestep.cpp
  package/MDAnalysis/lib/_augment.cpp
  package/MDAnalysis/lib/_cutil.cpp
  package/MDAnalysis/lib/c_distances.c
  package/MDAnalysis/lib/c_distances_openmp.c
  package/MDAnalysis/lib/formats/cython_util.c
  package/MDAnalysis/lib/formats/libdcd.c
  package/MDAnalysis/lib/formats/libmdaxdr.c
  package/MDAnalysis/lib/nsgrid.cpp
  package/MDAnalysis/lib/qcprot.c
Labels: Component-Readers, Component-Analysis, Component-lib

#3959 Add 'PairIJ Coeffs' section to the list of sections in LAMMPS parser
  package/AUTHORS
  package/CHANGELOG
  package/MDAnalysis/topology/LAMMPSParser.py
  testsuite/MDAnalysisTests/data/lammps/pairij_coeffs.data.bz2
  testsuite/MDAnalysisTests/datafiles.py
  testsuite/MDAnalysisTests/topology/test_lammpsdata.py
Labels: Component-Topology, format-LAMMPS

#3982 remove deprecated attributes from nucleicacids results classes
  package/CHANGELOG
  package/MDAnalysis/analysis/nucleicacids.py
  testsuite/MDAnalysisTests/analysis/test_nucleicacids.py
Labels: Component-Analysis

#3992 Fix MSD docs issue in error metric
  package/CHANGELOG
  package/MDAnalysis/analysis/msd.py
Labels: Component-Analysis

#3983 Increase minimum numpy version to 1.21
  .github/workflows/gh-ci.yaml
  .github/workflows/linters.yaml
  .travis.yml
  azure-pipelines.yml
  maintainer/conda/environment.yml
  package/CHANGELOG
  package/MDAnalysis/lib/distances.py
  package/MDAnalysis/lib/mdamath.py
  package/MDAnalysis/lib/pkdtree.py
  package/pyproject.toml
  package/requirements.txt
  package/setup.py
Labels: Component-lib, Continuous Integration

#3842 Add dipole and quadrupole caclulation in AtomGroup
  package/CHANGELOG
  package/MDAnalysis/core/topologyattrs.py
  package/doc/sphinx/source/documentation_pages/references.rst
  package/doc/sphinx/source/references.bib
  testsuite/MDAnalysisTests/core/test_accumulate.py
  testsuite/MDAnalysisTests/data/water_methane_acetic-acid_ammonia.pdb
  testsuite/MDAnalysisTests/datafiles.py
Labels: Component-Core

#4009 Fix doctest for MDAnalysis.analysis.rms (#3925)
  package/AUTHORS
  package/CHANGELOG
  package/MDAnalysis/analysis/rms.py
Labels: Component-Analysis
