Repository MDAnalysis/mdanalysis, pull requests merged in 2023-09, with the labels that each got.

#4263 Docs warning for charge in DielectricConstant
  package/CHANGELOG
  package/MDAnalysis/analysis/dielectric.py
Labels: Component-Analysis

#4007 Add support for reading chainID info from prmtop amber topologies.
  package/CHANGELOG
  package/MDAnalysis/topology/TOPParser.py
  testsuite/MDAnalysisTests/data/Amber/ace_mbondi3.error4.parm7
  testsuite/MDAnalysisTests/data/Amber/ache_chainid.error5.prmtop.bz2
  testsuite/MDAnalysisTests/data/Amber/ache_chainid.prmtop.bz2
  testsuite/MDAnalysisTests/datafiles.py
  testsuite/MDAnalysisTests/topology/test_top.py
Labels: enhancement, Format-Amber, Component-Topology

#4275 MAINT: NumPy recarray shim
  package/MDAnalysis/analysis/hydrogenbonds/wbridge_analysis.py
Labels: maintainability, Component-Analysis

#4273 update qcprot to cython.floating types
  package/CHANGELOG
  package/MDAnalysis/lib/qcprot.pyx
  testsuite/MDAnalysisTests/analysis/test_align.py
  testsuite/MDAnalysisTests/analysis/test_rms.py
  testsuite/MDAnalysisTests/lib/test_qcprot.py
Labels: Component-lib, CZI-performance

#4286 Fix hbonds path
  package/CHANGELOG
  package/MDAnalysis/analysis/hydrogenbonds/hbond_autocorrel.py
  package/MDAnalysis/analysis/hydrogenbonds/wbridge_analysis.py
  testsuite/MDAnalysisTests/utils/test_duecredit.py
Labels: Component-Analysis

#4281 TPR reader sets `chainID` from `molblock`
  package/CHANGELOG
  package/MDAnalysis/topology/TPRParser.py
  package/MDAnalysis/topology/tpr/utils.py
  testsuite/MDAnalysisTests/topology/test_tprparser.py
Labels: Component-Topology

#4288 Fix PDBQT docs to accurately say that last letter of segid is used as chainID
  package/MDAnalysis/coordinates/PDBQT.py
Labels: Component-Docs, Component-Readers

#4284 Read chainID from PDBQT
  package/CHANGELOG
  package/MDAnalysis/topology/PDBQTParser.py
  testsuite/MDAnalysisTests/coordinates/test_pdbqt.py
  testsuite/MDAnalysisTests/topology/test_pdbqt.py
Labels: Component-Topology

#4289 Update CoC according to suggestions from current CoC committee
  CODE_OF_CONDUCT.md
Labels: maintainability

#4295 Remove strtobool use
  package/CHANGELOG
  testsuite/MDAnalysisTests/lib/test_nsgrid.py
Labels: maintainability

#4294 Remove extra pkg_resource use
  package/MDAnalysis/analysis/data/filenames.py
Labels: maintainability, Component-Analysis

#4297 Advertise mdakits
  .github/workflows/gh-ci.yaml
  maintainer/conda/environment.yml
  package/CHANGELOG
  package/doc/sphinx/source/conf.py
  package/doc/sphinx/source/index.rst
  package/pyproject.toml
Labels: Continuous Integration
