Repository MDAnalysis/mdanalysis, pull requests merged in 2023-11, with the labels that each got.

#4330 scipy.integrate.simps deprecation
  package/MDAnalysis/analysis/pca.py
Labels: Component-Analysis

#4333 Add DepWarnings to X3DNA code and docs
  package/CHANGELOG
  package/MDAnalysis/analysis/legacy/x3dna.py
Labels: Component-Analysis

#4335 Deprecate TRZ
  package/CHANGELOG
  package/MDAnalysis/coordinates/TRZ.py
  testsuite/MDAnalysisTests/coordinates/test_trz.py
Labels: Component-Readers

#4332 Make biopython an optional dependency
  .github/actions/setup-deps/action.yaml
  package/CHANGELOG
  package/MDAnalysis/analysis/align.py
  package/MDAnalysis/core/topologyattrs.py
  package/pyproject.toml
  package/setup.py
  testsuite/MDAnalysisTests/analysis/test_align.py
  testsuite/MDAnalysisTests/core/test_residuegroup.py
Labels: maintainability, Component-Analysis, Component-Core

#4338 Port over the get_cmap fix from mdakit-hole2
  package/MDAnalysis/analysis/hole2/hole.py
Labels: maintainability, Component-Analysis

#4342 Expose C distance backend in libmdanalysis.pxd
  package/CHANGELOG
  package/MDAnalysis/lib/c_distances.pxd
  package/MDAnalysis/lib/c_distances.pyx
  package/MDAnalysis/lib/libmdanalysis/__init__.pxd
  package/doc/sphinx/source/documentation_pages/lib_modules.rst
Labels: maintainability, Component-lib
