Repository MDAnalysis/mdanalysis, pull requests merged in 2023-06, with the labels that each got.

#4003 Resolve wrongly merging bond/angle/dihedral types
  package/CHANGELOG
  package/MDAnalysis/core/topologyobjects.py
  testsuite/MDAnalysisTests/core/test_topologyobjects.py
  testsuite/MDAnalysisTests/data/lammps/a_lot_of_bond_types.data
  testsuite/MDAnalysisTests/datafiles.py
Labels: Component-Core

#4171 Fix contourpy install for 32bit azure runner and pin GSD
  .github/actions/setup-deps/action.yaml
  azure-pipelines.yml
  package/pyproject.toml
  package/setup.py
Labels: Continuous Integration

#4163 Fix DATAWriter, CRD, PQR, and PDBQT compressed file writing
  package/CHANGELOG
  package/MDAnalysis/coordinates/CRD.py
  package/MDAnalysis/coordinates/LAMMPS.py
  package/MDAnalysis/coordinates/NAMDBIN.py
  package/MDAnalysis/coordinates/PDBQT.py
  package/MDAnalysis/coordinates/PQR.py
  package/MDAnalysis/lib/util.py
  testsuite/MDAnalysisTests/coordinates/test_crd.py
  testsuite/MDAnalysisTests/coordinates/test_lammps.py
  testsuite/MDAnalysisTests/coordinates/test_pdbqt.py
  testsuite/MDAnalysisTests/coordinates/test_pqr.py
Labels: Component-Readers, Component-lib

#4174 Make GSD optional
  .github/actions/setup-deps/action.yaml
  package/CHANGELOG
  package/MDAnalysis/coordinates/GSD.py
  package/MDAnalysis/topology/GSDParser.py
  package/pyproject.toml
  package/setup.py
  testsuite/MDAnalysisTests/coordinates/test_copying.py
  testsuite/MDAnalysisTests/coordinates/test_gsd.py
  testsuite/MDAnalysisTests/parallelism/test_multiprocessing.py
  testsuite/MDAnalysisTests/topology/test_gsd.py
  testsuite/MDAnalysisTests/utils/test_pickleio.py
Labels: Component-Readers, Component-Topology

#4160 NEP29, update to Numpy 1.22[.3]
  .github/workflows/gh-ci.yaml
  .github/workflows/linters.yaml
  azure-pipelines.yml
  maintainer/conda/environment.yml
  package/CHANGELOG
  package/MDAnalysis/lib/mdamath.py
  package/pyproject.toml
  package/requirements.txt
  package/setup.py
Labels: Component-lib, Continuous Integration

#4175 MAINT, TST: suppress np warns
  package/MDAnalysis/lib/mdamath.py
  testsuite/MDAnalysisTests/lib/test_util.py
Labels: maintainability, testing, Component-lib

#4176 Drop 32bit from azure CI
  azure-pipelines.yml
  package/CHANGELOG
Labels: Continuous Integration

#4170 LAMMPS continuous check in chain trajectory
  package/CHANGELOG
  package/MDAnalysis/coordinates/LAMMPS.py
  package/MDAnalysis/coordinates/chain.py
  testsuite/MDAnalysisTests/coordinates/test_chainreader.py
  testsuite/MDAnalysisTests/data/lammps/chain_dump_1.lammpstrj
  testsuite/MDAnalysisTests/data/lammps/chain_dump_2.lammpstrj
  testsuite/MDAnalysisTests/data/lammps/chain_initial.data
  testsuite/MDAnalysisTests/datafiles.py
Labels: Component-Readers

#4153 Fix future warning from GSDReader, go cutting edge
  .github/actions/setup-deps/action.yaml
  azure-pipelines.yml
  package/CHANGELOG
  package/MDAnalysis/coordinates/GSD.py
  package/MDAnalysis/topology/GSDParser.py
  package/pyproject.toml
  package/setup.py
  testsuite/MDAnalysisTests/utils/test_pickleio.py
Labels: Component-Readers, Component-Topology, Continuous Integration
