Repository MDAnalysis/mdanalysis, pull requests merged in 2023-04, with the labels that each got.

#4109 Fixes chi1_selections (#4108)
  package/AUTHORS
  package/CHANGELOG
  package/MDAnalysis/core/topologyattrs.py
  testsuite/MDAnalysisTests/core/test_atomgroup.py
Labels: Component-Core

#4115 NEP29, raise Python to 3.9
  .github/workflows/deploy.yaml
  .github/workflows/gh-ci.yaml
  .github/workflows/linters.yaml
  azure-pipelines.yml
  maintainer/conda/environment.yml
  package/CHANGELOG
  package/pyproject.toml
  package/setup.py
  testsuite/setup.py
Labels: Continuous Integration

#4118 Fixing some doctests.
  package/MDAnalysis/core/universe.py
  package/MDAnalysis/lib/transformations.py
  package/MDAnalysis/lib/util.py
Labels: Component-Core, Component-lib

#4120 Add aarch64 testing via CirrusCI
  .cirrus.star
  .cirrus.yml
  maintainer/ci/cirrus-ci.yml
  package/CHANGELOG
  testsuite/MDAnalysisTests/coordinates/test_xdr.py
  testsuite/MDAnalysisTests/core/test_universe.py
  testsuite/MDAnalysisTests/util.py
Labels: Continuous Integration

#4092 Ensure 'HydrogenBondAnalysis' returns the correct distances when using the 'between' keyword
  package/CHANGELOG
  package/MDAnalysis/analysis/hydrogenbonds/hbond_analysis.py
  testsuite/MDAnalysisTests/analysis/test_hydrogenbonds_analysis.py
Labels: Component-Analysis

#4129 MAINT: Cython 3.x compat fix read-only
  package/CHANGELOG
  package/MDAnalysis/lib/formats/cython_util.pyx
Labels: maintainability, Component-lib

#4133 PDB: don't populate formalcharges if bad entry is encountered
  package/CHANGELOG
  package/MDAnalysis/topology/PDBParser.py
  testsuite/MDAnalysisTests/topology/test_pdb.py
Labels: Component-Topology
