Repository MDAnalysis/mdanalysis, pull requests merged in 2023-07, with the labels that each got.

#4182 DOCS: Align.py changes made
  package/AUTHORS
  package/CHANGELOG
  package/MDAnalysis/analysis/align.py
Labels: Component-Analysis

#4196 Try pinning sphinx <7.0
  .github/workflows/gh-ci.yaml
  maintainer/conda/environment.yml
Labels: Continuous Integration

#4200 Deprecate hole2 class in favour of MDAKit
  package/CHANGELOG
  package/MDAnalysis/analysis/hole2/hole.py
  testsuite/MDAnalysisTests/analysis/test_hole2.py
Labels: Component-Analysis

#4161 add `ignore_same_residue` kwarg to `InterRDF`
  package/CHANGELOG
  package/MDAnalysis/analysis/rdf.py
  testsuite/MDAnalysisTests/analysis/test_rdf.py
Labels: Component-Analysis

#4214 Fix Boltzmann typo in `units.py`
  package/CHANGELOG
  package/MDAnalysis/analysis/dielectric.py
  package/MDAnalysis/units.py
  testsuite/MDAnalysisTests/utils/test_units.py
Labels: Component-Analysis

#4203 Switch to scientifc python nightly package location for cron tests against upstream nightly wheels
  .github/workflows/gh-ci-cron.yaml
  package/MDAnalysis/lib/src/transformations/transformations.c
Labels: Component-lib

#4219 Add licenses, make it LGPLv2.1+ contributions going forward
  .github/PULL_REQUEST_TEMPLATE.md
  LICENSE
  README.rst
  maintainer/conda/MDAnalysis/README.rst
  maintainer/conda/MDAnalysis/build.sh
  maintainer/conda/MDAnalysis/meta.yaml
  package/CHANGELOG
  package/doc/sphinx/source/index.rst
  package/pyproject.toml
  package/setup.py
  testsuite/setup.py
Labels: Priority-High, policy, Continuous Integration

#4191 Updated atom ID representation order to match AtomGroup
  package/AUTHORS
  package/CHANGELOG
  package/MDAnalysis/core/topologyobjects.py
  testsuite/MDAnalysisTests/core/test_topologyobjects.py
Labels: Component-Core

#4215 Add pytest-timeout to CI
  .github/actions/setup-deps/action.yaml
  .github/workflows/deploy.yaml
  .github/workflows/gh-ci-cron.yaml
  .github/workflows/gh-ci.yaml
  azure-pipelines.yml
  maintainer/ci/cirrus-ci.yml
Labels: Continuous Integration
