Repository MDAnalysis/mdanalysis, pull requests merged in 2023-02, with the labels that each got.

#4024 Fix doctest for MDAnalysis.core.topology
  package/MDAnalysis/core/topology.py
Labels: Component-Core

#4022 MDAnalysis.analysis.rms.rmsd docs fixed version entries
  package/AUTHORS
  package/CHANGELOG
  package/MDAnalysis/analysis/rms.py
Labels: Component-Analysis

#3914 Add distopia!
  .github/actions/setup-deps/action.yaml
  package/CHANGELOG
  package/MDAnalysis/lib/_distopia.py
  package/MDAnalysis/lib/distances.py
  testsuite/MDAnalysisTests/analysis/test_distances.py
  testsuite/MDAnalysisTests/lib/test_distances.py
Labels: Component-lib, CZI-performance

#4033 [CI] Fix cirrus
  .cirrus.yml
Labels: Priority-High

#4021 Fix doctest for MDAnalysis.analysis.encore.similarity
  package/MDAnalysis/analysis/encore/similarity.py
Labels: Component-Analysis

#4034 [CI] Update main ci components to use py311 at upper limit
  .github/workflows/gh-ci-cron.yaml
  .github/workflows/gh-ci.yaml
  azure-pipelines.yml
Labels: Continuous Integration
