Repository MDAnalysis/mdanalysis, pull requests merged in 2024-01, with the labels that each got.

#4402 Update minimum numpy support to match 1.23[.2]
  .github/workflows/gh-ci.yaml
  .github/workflows/linters.yaml
  azure-pipelines.yml
  maintainer/conda/environment.yml
  package/CHANGELOG
  package/pyproject.toml
  package/requirements.txt
  package/setup.py
Labels: Continuous Integration

#4408 Fix types on XDR::xdr_ops function struct for clang16 compilation
  package/MDAnalysis/lib/formats/src/xdrfile.c
Labels: Component-lib

#4403 Deprecate PSA and replace with PathSimAnalysis mdakit
  .github/actions/setup-deps/action.yaml
  package/CHANGELOG
  package/MDAnalysis/analysis/psa.py
  package/doc/sphinx/source/conf.py
  package/pyproject.toml
  package/setup.py
  testsuite/MDAnalysisTests/analysis/test_psa.py
  testsuite/MDAnalysisTests/utils/test_duecredit.py
Labels: Component-Analysis

#4404 Deprecate waterdynamics and replace with waterdynamics mdakit
  .github/actions/setup-deps/action.yaml
  package/CHANGELOG
  package/MDAnalysis/analysis/waterdynamics.py
  package/doc/sphinx/source/conf.py
  package/pyproject.toml
  package/setup.py
  testsuite/MDAnalysisTests/analysis/test_waterdynamics.py
Labels: Component-Analysis

#4371 Fix: Picklable_file_io.py file doctest errors
  package/CHANGELOG
  package/MDAnalysis/lib/picklable_file_io.py
Labels: Component-lib

#4433 Switch diffusionmap iteration to _sliced_trajectory
  package/CHANGELOG
  package/MDAnalysis/analysis/diffusionmap.py
  testsuite/MDAnalysisTests/analysis/test_diffusionmap.py
Labels: Component-Analysis

#4423 Fix bug in PCA trajectory iteration -- avoid explicit usage of self.start
  package/CHANGELOG
  package/MDAnalysis/analysis/pca.py
  testsuite/MDAnalysisTests/analysis/test_pca.py
Labels: Component-Analysis

#4415 Feat: Add `n_initial_contacts` attribute and document ```Contacts``` class attributes
  package/CHANGELOG
  package/MDAnalysis/analysis/contacts.py
  testsuite/MDAnalysisTests/analysis/test_contacts.py
Labels: Component-Analysis
