Repository MDAnalysis/mdanalysis, pull requests merged in 2024-03, with the labels that each got.

#3608 Extend lammpsdump to accept arbitrary columns
  package/AUTHORS
  package/CHANGELOG
  package/MDAnalysis/coordinates/LAMMPS.py
  testsuite/MDAnalysisTests/coordinates/reference.py
  testsuite/MDAnalysisTests/coordinates/test_lammps.py
  testsuite/MDAnalysisTests/data/lammps/additional_columns.data
  testsuite/MDAnalysisTests/data/lammps/additional_columns.lammpstrj
  testsuite/MDAnalysisTests/datafiles.py
Labels: Component-Readers

#4464 Update for external mdahole2 mdakit
  .github/actions/setup-deps/action.yaml
  maintainer/conda/environment.yml
  package/CHANGELOG
  package/MDAnalysis/analysis/hole2/__init__.py
  package/MDAnalysis/analysis/hole2/hole.py
  package/MDAnalysis/analysis/hole2/templates.py
  package/MDAnalysis/analysis/hole2/utils.py
  package/doc/sphinx/source/conf.py
  package/doc/sphinx/source/documentation_pages/analysis/hole2.rst
  package/pyproject.toml
  testsuite/MDAnalysisTests/analysis/test_hole2.py
  testsuite/MDAnalysisTests/utils/test_duecredit.py
Labels: Component-Analysis, Continuous Integration

#4459 Remove mutable data from `progressbar_kwargs` argument in `AnalysisBase.run()`
  package/CHANGELOG
  package/MDAnalysis/analysis/base.py
  testsuite/MDAnalysisTests/analysis/test_base.py
Labels: Component-Analysis

#4472 Improved PDBWriter performance by modifying PDBWriter._write_timestep()
  package/CHANGELOG
  package/MDAnalysis/coordinates/PDB.py
Labels: Component-Readers

#4503 Raise Python version to 3.10
  .github/workflows/darkerbot.yaml
  .github/workflows/deploy.yaml
  .github/workflows/gh-ci.yaml
  .github/workflows/linters.yaml
  azure-pipelines.yml
  maintainer/conda/environment.yml
  package/CHANGELOG
  package/pyproject.toml
  testsuite/pyproject.toml
Labels: Continuous Integration

#4523 ENH: support tpx 133 (GMX 2024.1)
  package/CHANGELOG
  package/MDAnalysis/topology/TPRParser.py
  package/MDAnalysis/topology/tpr/setting.py
  testsuite/MDAnalysisTests/data/tprs/2lyz_gmx_2024.tpr
  testsuite/MDAnalysisTests/data/tprs/all_bonded/dummy_2024.tpr
  testsuite/MDAnalysisTests/data/tprs/virtual_sites/extra-interactions-2024.tpr
  testsuite/MDAnalysisTests/datafiles.py
  testsuite/MDAnalysisTests/topology/test_tprparser.py
Labels: enhancement, Format-Gromacs, Component-Topology

#4531 Added tqdm bar for: pca.transform()
  package/AUTHORS
  package/CHANGELOG
  package/MDAnalysis/analysis/pca.py
  package/MDAnalysis/lib/log.py
Labels: Component-Analysis, Component-lib

#4374 Fix: groups.py doctest fixes
  package/CHANGELOG
  package/MDAnalysis/core/groups.py
Labels: Component-Core

#4524 Implement iterative average structure (Issue#2039)
  package/AUTHORS
  package/CHANGELOG
  package/MDAnalysis/analysis/align.py
  package/doc/sphinx/source/references.bib
  testsuite/MDAnalysisTests/analysis/test_align.py
Labels: Component-Analysis

#4521 Fix: align.py doctest error
  package/AUTHORS
  package/MDAnalysis/analysis/align.py
Labels: Component-Analysis

#4529 atomname methods can handle empty groups
  package/AUTHORS
  package/CHANGELOG
  package/MDAnalysis/core/topologyattrs.py
  testsuite/MDAnalysisTests/core/test_atomgroup.py
Labels: Component-Core

#4548 Convert "Quantity" to raw value for kinetic_energy and potential_energy in OpenMM reader
  package/CHANGELOG
  package/MDAnalysis/converters/OpenMM.py
  testsuite/MDAnalysisTests/converters/test_openmm.py
Labels: Component-Converters
