Repository MDAnalysis/mdanalysis, pull requests merged in 2025-04, with the labels that each got.

#4908 Added dt support for `xtc` and `trr` trajectories.
  package/AUTHORS
  package/CHANGELOG
  package/MDAnalysis/coordinates/TRR.py
  package/MDAnalysis/coordinates/XDR.py
  package/MDAnalysis/coordinates/XTC.py
  testsuite/MDAnalysisTests/coordinates/test_dcd.py
  testsuite/MDAnalysisTests/coordinates/test_xdr.py
Labels: enhancement, Format-Gromacs

#4965 Update ResidueGroup/SegmentGroup with ids (PDBParser: force chainid to segid / Universe: set groups)
  package/CHANGELOG
  package/MDAnalysis/coordinates/PDB.py
  package/MDAnalysis/core/universe.py
  package/MDAnalysis/topology/PDBParser.py
  testsuite/MDAnalysisTests/core/test_universe.py
  testsuite/MDAnalysisTests/topology/test_pdb.py
Labels: Format-PDB

#5006 Fixes benchmark for analysis/rms.py
  benchmarks/benchmarks/analysis/rms.py
  package/CHANGELOG
Labels: benchmarks

#5007 Parallelize lindensity
  package/AUTHORS
  package/CHANGELOG
  package/MDAnalysis/analysis/lineardensity.py
  testsuite/MDAnalysisTests/analysis/conftest.py
  testsuite/MDAnalysisTests/analysis/test_lineardensity.py
Labels: Component-Analysis, parallelization
